.borderDev {
    border: 1px solid white;
  }
  
  .upload {
    position: absolute;
    left: 70%;
    top: 10px; 
    height: 50px;
    width: 100px;
    border-radius: 25%;
    font-size: larger;  
    border: 2px solid black;
    background: linear-gradient(#e36700 ,black, #e36700);
  
  }
  
  .upload:hover {
    background: linear-gradient(#e36700 ,black, #e36700);
    color: white;
    border: 2px solid white;
  }
  
  .morebuttoncontainer {
   display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    position: relative;
 
  }

  .morebutton {
    height: 75px;
    width: 200px;
    border-radius: 30%;
    font-size: larger;  
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(#e36700 ,black, #e36700);
  
  }
  
  .morebutton:hover {
    background: linear-gradient(#e36700 ,black, #e36700);
    color: white;
    border: 2px solid white;
  }

  .ratingbutton {
    position: relative;
    bottom: 200px;
    left: 200px;
 
    border-radius: 100%;
    display: flex;  

  }

  .ratingimage {
    position: relative;
    bottom: 200px;
    left: 200px;
    
    border-radius: 100%;
    display: flex;  

  }