.main {
  background: linear-gradient(black,#e36700 ,black);
  min-width: 100vw;
  height: 100vh;
}

.borderDev {
  border: 1px solid white;
}

.title {
  margin-top: 20px;
justify-content: center;
display: flex;
  color: white;


}
.gallerycontainer {
  margin: 40px 15rem;
  display:grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.imagebox {
   height: 200px;  
  width: 200px; 
} 