.main {
  background: linear-gradient(black,#e36700 ,black);
  min-width: 100vw;
  height: 100vh;
  display: absolute;
}

.borderDev {
  border: 1px solid white;
}

.title {
  margin-top: 20px;
justify-content: center;
display: flex;
  color: white;


}
.gallerycontainer {
  margin: 40px 15rem;
  display:grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  position: relative;
  top: 20px;
  left: 35px;
}

.imagebox {
   height: 200px;  
  width: 200px; 
} 